.content{
    margin: 0 100px;
    border-color: transparent;
}

#header{
    display: block;
    background-color: rgb(223, 190, 148);
    padding: 2px 25px 10px 25px;
    border-radius: 4px;
}

#header h1{
    text-align: center;
    color: rgb(8, 8, 153);
}

#header blockquote{
    text-align: center;
    background-color: rgb(245, 210, 16);
    border-radius: 4px;
    margin: 0 24%;
}

.menu{
    display: flex;
    margin: auto;
    width: fit-content;
}

.menu ul, li{
    display: flex;
    margin-left: 7px;
}

.gambar{
    display: flex;
    margin: auto;
    width: fit-content;
}

.gambar img{
    margin-left: 10px;
    border-radius: 7px;
}