/*reset margin dan padding*/
* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(128, 182, 229);
    padding: 10px;
}

header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding:  .5em;
    margin: 0;
}

header a{
    text-decoration: none;
    font-size: large;
    color: white;
}

header li{
    margin: 0 1em;
}

header img{
    margin-right: auto;
}

body>ul {
    margin-left: 50px;
}